
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      @apply scroll-smooth;
    }
  }
@layer components {
.infoText {
 @apply text-xs sm:text-sm p-2 sm:p-4 bg-gray-700/50 rounded-lg max-w-[300px];
}}

@font-face {
    font-family: 'satoshiR';
    src: url('/fonts/satoshi-Variable.woff2') format('woff2'),
         url('/fonts/satoshi-Variable.woff') format('woff'),
         url('/fonts/satoshi-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }
@font-face {
    font-family: 'clash displayR';
    src: url('/fonts/ClashDisplay-Variable.woff2') format('woff2'),
         url('/fonts/ClashDisplay-Variable.woff') format('woff'),
         url('/fonts/ClashDisplay-Variable.ttf') format('truetype');
         font-weight: 200 700;
         font-display: swap;
         font-style: normal;
  }
  @font-face{
    font-family: 'amazing kids';
    src: url('/fonts/Amazing Kids.ttf') format('truetype');
}
  
.font-Sa{
    font-family: 'satoshiR';
}
.font-CD{
    font-family: 'clash displayR';
}
.font-AK{
    font-family: 'amazing kids';
}


