
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {

.infoText {
 @apply text-xs sm:text-sm p-2 sm:p-4 bg-gray-700/50 rounded-lg max-w-[300px];
}
.chatRow{
    @apply rounded-lg sm:px-5 py-3 text-sm flex items-center justify-center space-x-2 hover:bg-gray-700/70 cursor-pointer text-gray-300 transition-all duration-200 ease-out
}

}