
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {

.infoText {
 @apply text-xs sm:text-sm p-2 sm:p-4 bg-gray-700/50 rounded-lg max-w-[300px];
}}

.font-publicSans{
    font-family: 'public sans';
}
.font-Montserrat{
    font-family: "montserrat";
}
.zeeh{
    background: linear-gradient(124.32deg, #1A23DC 19.22%, #62228A 46.62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-family: "montserrat";
font-style: normal;
font: size 29px;

}
.grad1{
    background: linear-gradient(124.32deg, #1A23DC 19.22%, #62228A 46.62%);
}
.gradLight{
    background: linear-gradient(147.77deg, rgba(217, 217, 217, 0) 16.72%, rgba(217, 190, 255, 0.33) 35.68%, rgba(217, 189, 255, 0.49) 53.09%, rgba(241, 231, 255, 0) 66.68%);
    
}
.grad2{
    background: linear-gradient(242.61deg, #267E9E -21.75%, #081C3A 59.64%);

}
.grad3{
    background: linear-gradient(242.61deg, #8E25B9 24.46%, #4B0A71 59.64%);
border-radius: 12.9648px;
}
.lineHeight{
    line-height: 96px;
}